.home-container > img {
  width: 100%;
  height: 100%;
}

.home-container {
  display: flex;
  justify-content: center;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}
