.product-details-container {
  display: flex;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.product-details-image-container {
  margin-right: 24px;
}

.product-details-image-container > img {
  max-height: 500px;
  height: 100%;
}

.product-details-info-container {
  width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.product-description-text,
.price-text,
.color-text,
.product-brand {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.color-list {
  display: flex;
  flex-direction: column;
}

.product-name,
.product-description,
.product-price,
.product-colors,
.color-list {
  font-size: 14px;
}

.product-brand,
.product-name,
.product-description,
.product-price,
.product-colors,
.color-list {
  margin-bottom: 20px;
}

.prev-container {
  margin-top: auto;
}

@media screen and (max-width: 760px) {
  .prev-container {
    margin-top: 0;
  }

  .product-details-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .product-details-image-container {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .product-details-info-container {
    width: 75%;
  }

  .product-details-image-container > img {
    width: 100%;
    height: 100%;
    max-height: unset;
  }
}
