.product-list-container {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.dresses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: 5px;
}

.product-container:hover {
  cursor: pointer;
}

.product-container > img {
  height: 100%;
  max-height: 490px;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 330px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--white);
}

.brand-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dress-price {
  font-size: 14px;
  color: var(--gray);
}

@media screen and (max-width: 1039px) {
    .dresses-container {
        justify-content: center;
    }
}