.App {
  min-width: 325px;
}

a {
  text-decoration: none;
  color: var(--black);
}

.nav-container {
  width: 100%;
  font-weight: bold;
  color: var(--black);
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.nav-container a {
  margin: 0 20px;
  color: var(--gray);
  font-size: 18px;
}

.nav-container a:hover {
  color: var(--orange);
}
