body {
  margin: 0;
  font-family: "Georgia", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: black;
  --lightblack: #333333;
  --white: white;
  --orange: #fc991a;
  --gray: #b1b0ab;
  --graydark: #99837d;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  padding: 0;
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

button:hover {
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: var(--lightblack);
}
